.inputOption{
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: gray;
    padding: 20px;
    cursor: pointer;
}
.inputOption:hover{
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
}
.inputOption > h4{
    margin-left: 5px;
    font-weight: 500;
}